/* FONTS */
@font-face {
  font-family: 'gotham-light';
  src: url('../fonts/gotham-light.otf');
}
@font-face{
    font-family: 'gotham-medium';
    src: url('../fonts/gotham-medium.otf');
}
@font-face{
    font-family: 'gotham-book';
    src: url('../fonts/gotham-book.otf');
}
@font-face{
    font-family: 'gotham-bold';
    src: url('../fonts/gotham-bold.otf');
}
@font-face{
    font-family: 'gotham-book-italic';
    src: url('../fonts/gotham-book-italic.otf');
}
/* OVERALL ASPECT */
body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
}
/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}
/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

.mt {
    margin-top: 40px;
}

/* Links */
a {
    color: #f85c37;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* Bootstrap Modifications */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffffff;
}
.navbar .list-group {
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #74cfae;
}

.navbar-brand {
    font-size: 60px;
    padding-top: 5px;
    padding-bottom: 0px;
}
.navbar-brand b{
    font-size: 15px;
    font-weight: bolder;
    margin-left: -15px;
    color: #00367c;
}


.lead {
    letter-spacing: 1px;
}

/* WRAP SECTIONS */

/* front-content */
#front-content {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../img/front-content-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#front-content h1 {
    font-size: 42px;
    color: #fff;
    font-family: 'gotham-light';
}

#front-content h2 {
    color: #fff;
    font-size:30px;
    font-family: 'gotham-medium';
}
#front-content h3{
    color:#fff;
    font-size: 20px;
}
#front-content a{
    font-family: 'gotham-book';
    color: #fff;
}
#front-content form{
    margin-top: 50px;
}
#front-content form label{
    color: #fff;
    font-family: 'gotham-medium';
    font-size: 18px;
    font-weight: normal;
}
#front-content .input-group{
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 10px;

}
#front-content .input-group > .badge {
    position: absolute;
    left: 11px;
    top: 12px;
    height: 30px;
    width: 30px;
    border-radius: 25px;
    padding-top: 9px;
    background-color:#d68d00;
}
#front-content .input-group .select2{
    width: 95%;
    margin-left: 28px;
    margin-top: 3px;
}
#front-content .input-group .select2 .selection .select2-selection{
    border: none;
}
#front-content .input-group .form-control {
    background-image: none;
    border: none;
    box-shadow: none;
    margin-left: 35px;
    width: 95%;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
}
#front-content .input-group .dropdown button{
    color: #C5C5C5;
}
#front-content .input-group .dropdown .fa{
    float: right;
    margin-top: 4px;
}
#front-content .input-group .dropdown .dropdown-menu{
    width: 100%;
    margin-top: 15px;
}
#front-content .input-group .dropdown .dropdown-menu a{
    font-family: 'gotham-bold';
    font-size: 14px;
    color: black;
}
#front-content #reviews{
    margin-top: -25px;
}
#front-content #reviews h3{
    font-family:'gotham-book';
    padding-left: 50px;
}
#front-content #reviews .review-item{
    background-color: transparent;
    border: none;
}
#front-content #reviews .review-item .left h5{
    font-size: 13px;
    line-height: 5px;
    color: #fff;
}
#front-content #reviews .review-item .left h6{
    font-size: 11px;
    line-height: 5px;
    color: #fff;

}
#front-content #reviews .review-item .right .header-info{
    float: left;
}
#front-content #reviews .review-item .right .header-info #category{
    float:left;
    margin-right: 30px;
    color: #fff;
}

#front-content #reviews .review-item .right .header-info #ratings{
    float: left;
}
#front-content #reviews .review-item .right .body-info{
    float: left;
}
#front-content #reviews .review-item .right .body-info p{
    font-family: 'gotham-book-italic';
    font-size: 11px;
    line-height: 13px;  
    color: #fff;
}
#front-content #reviews .review-item .right .body-info a{
    font-family: 'gotham-book';
    color: #fbd243;
    float: right;
    margin-right: 25px;
    font-size: 10px;
}
#front-content #reviews .review-item .right .body-info a img{
    margin-top: -3px;
}

#footer {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}
#footer .logo{
    float:right;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
    #footer .logo{
        float:none;
    }
}
#footer i {
    font-size: 50px;
    color: #74cfae;
}
#footer .nav li a:hover{
    background-color:transparent !important;
}
#footer .nav li a:after{
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #000;
    opacity: .5;
}
#footer .nav li a:before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #333333;
}
#footer .nav li.last > a:after,
#footer .nav li:last-child > a:after {
  display: none;
}
@media screen and (max-width: 768px) {
    #footer .nav li a:after{
        display: none;
    }
    #footer .nav li a:before{
        display: none;
    }
}
.modal-header .modal-title{
    font-family: 'gotham-book';
}
.modal-body b{
    font-family: 'gotham-bold';
}
.modal-body p{
    font-family: 'gotham-book';
}
.modal-body label{
    font-family: 'gotham-book';
}
.modal-body a{
    font-family: 'gotham-book';
    color: #1864af;
}
.modal-body button{
    font-family: 'gotham-bold';
    border-radius: 20px;
    background-color: #02377b;
}


.modal-header{
    border-bottom: none !important;
}


.modal_review .modal-body{

}
.modal_review .modal-body .profile{
    border-top: 1px solid #000;
    padding-top: 10px;
}
.modal_review .modal-body .profile .profile_name{
    font-family: 'gotham-book';
    font-size: 30px;
}

.modal_review .modal-body .profile .profile_address{
    font-family: 'gotham-book';
    font-size: 16px;
    margin-bottom: 0px;
    line-height: 1;
}
.modal_review .modal-body .profile .profile_address{
    font-family: 'gotham-book';
    font-size: 16px;
    margin-bottom: 0px;
    line-height: 1;
}
.modal_review .modal-body .profile .profile_case{
    margin-bottom: 5px;
    line-height: 2;
}
.modal_review .modal-body .rating{
    border-bottom: 1px solid black;
}
.modal_review .modal-body .rating h4{
    font-family: 'gotham-book';
    margin-top: -1px;
}
.modal_review .modal-body .rating div{
    margin-left: 10px;
    margin-top: 0px;
}
.modal_review .modal-body .all_ratings{
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}
.modal_review .modal-body{
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}
.modal_review .modal-body .reviewer{
    margin-top: 15px;
}
.modal_review .modal-body .reviewer h4{
    font-family: 'gotham-bold';
    font-size: 14px;
}
.modal_review .modal-body .reviewer p{
    font-family: 'gotham-book';
    font-size: 14px;
}
.modal_review .modal-footer{
    margin-top: 0px;
    padding: 8px 20px 8px;
    border-top: none;
}
.modal_review .modal-footer .btn{
    background-color: transparent;
    color: #0000ff;
}
.ratings-on{
    color: #d69024;
}